#homecard{
    background-color:black;
    height:auto;
}
#logo{
    width:100%;
    height:100%;
}
.center{
    text-align:center;
}
#nasaLink {
    color: #a19e97;
}
#rovercard {
    background-color: #934838;
    height: auto;
}

.martian {
    color: #a1251b;
}

.bg-martian {
    background-color: #a1251b;
}

